@use "../styles/partials/fonts";
@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/colors" as *;

.hero {

    // &__video-container {
             
    // }

    &__video {
        width: 100%;
        height: auto;
        background-color: $Secondary-video-player-components;
        aspect-ratio: 16/9;
    }

    // &__video-details-container {

    // }

    &__video-title {
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-bottom: 0;
    }

    &__video-details {
        padding: 1rem;
        // display: flex;
    }

    &__channel-date {
        display: flex;
    }

    &__video-channel {
        margin-top: 0;
    }

    // &__video-date {

    // }

    &__views-likes {
        display: flex;
    }

    &__video-views-container {
        display: flex;
    }

    // &__video-views-icon {

    // }

    // &__video-views {

    // }

    &__video-likes-container {
        display: flex;
    }

    // &__video-likes-icon {

    // }

    // &__video-likes {

    // }

    &__video-description {
        padding: 0 1rem;
        margin: 0;
    }
}