// Primary colors

$Primary-text: #323232;
$Primary-CTA-active: #0095FF;
$Primary-label-secondary-text: #AFAFAF;
$Primary-background-CTA-text: #FFFFFF;

// Secondary colors

$Secondary-video-player-components: #000000;
$Secondary-CTA-hover: #0065AD;
$Secondary-divider-form-outline: #E1E1E1;
$Secondary-form-background: #FAFAFA;