// Primary colors

$Primary-text: #323232; // BrainFlix-Black
$Primary-CTA-active: #0095FF; // BrainFlix-Blue
$Primary-label-secondary-text: #AFAFAF; // Silver
$Primary-background-CTA-text: #FFFFFF; // White

// Secondary colors

$Secondary-video-player-components: #000000; // BrainFlix- Dark Black
$Secondary-CTA-hover: #0065AD; // BrainFlix-DarkBlue
$Secondary-divider-form-outline: #E1E1E1; // Mercury
$Secondary-form-background: #FAFAFA; // Alabaster