@use "../styles/partials/fonts" as *;
@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/colors" as *;

.next-videos {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
    padding: 1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        text-transform: uppercase;
        color: $Primary-label-secondary-text;
        margin-top: 0;
        padding-top: 1rem;
    }

    &__thumbnail-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__thumbnail {
        width: 7rem;
        height: 4.25rem;
        border-radius: 0.3rem;
        flex-shrink: 0;
        margin: 0 1rem 1rem 0;
        max-width: 50%;        
    }

    &__description {
        font-size: 13px;
        line-height: 1rem;
        padding-top: 0.25rem;
        display: flex;
        flex-direction: column;
    }

    &__video-title {
        text-decoration: none;
        font-weight: 700;
        margin: 0;
    }
}

@include medium {
    
    .next-videos {
        
        align-items: flex-start;
        padding-left: 1rem;
        margin: 1rem 3.5rem 1rem 2rem;
        border-top: .0625rem solid $Secondary-divider-form-outline;
        
        &__title {
            margin-right: 2.25rem;
        }
    }
}

@include large {
  
    .next-videos {
        
        &__container-right {
            display: flex;
            justify-content: flex-end;
            width: 100%;        
        }


  }
}