@use "../styles/partials/fonts" as *;
@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/colors" as *;

.next-videos {
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    height: 50vh;
    padding: 1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        text-transform: uppercase;
        color: $Primary-label-secondary-text;
        margin-top: 0;
    }

    &__thumbnail-container {
        display: flex;
        flex-direction: row;
    }

    &__thumbnail {
        width: 7rem;
        height: auto;
        border-radius: .25rem;
        flex-shrink: 0;
        margin: 0 1rem 1rem 0;
        max-width: 50%;        
    }

    &__description {
        font-size: 13px;
        line-height: 1rem;
        padding-top: 0.25rem;
    }

    &__video-title {
        font-weight: 700;
        margin: 0;
    }
}