@use "../styles/partials/fonts";
@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/colors" as *;

.header {
    
    &__logo-container {
        background-color: $Primary-background-CTA-text;
        margin: auto;
    }

    &__logo {
        max-height: 1.5625rem;
        max-width: 7.5rem;
    }

    // &__logo-image {
        
    // }

    &__nav-container {
        display: flex;
        flex-direction: column;
    }

    &__nav-search-field-avatar {
        display: flex;
        flex-direction: row;
    }

    &__search-field {
        background-image: url(../../assets/icons/search.svg);   
        background-repeat: no-repeat;
        
    }

    &__avatar-container {
        border-radius: 50%;
        max-width: 2.25rem;
        max-height: 2.25rem;
        width: 2.25rem;
        height: 2.25rem;
        position: relative;
        overflow: hidden;
        top: -1.75rem;
        left: 9.3rem;
    }

    &__avatar {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }

    &__button {
        text-transform: uppercase;
        border-radius: .25rem;
        border-style: hidden;
        color: $Primary-background-CTA-text;
        background-color: $Primary-CTA-active;
        width: 100%;
    }
}