@use "../../components/styles/partials/fonts";
@use "../../components/styles/partials/breakpoints" as *;
@use "../../components/styles/partials/colors" as *;

.video-upload {

    &__title {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    // &__container {

    // }

    // &__thumbnail-container {

    // }

    &__thumbnail {
        text-transform: uppercase;
        color: $Primary-label-secondary-text;
        font-size: smaller;
        margin: 0;
        padding-left: 1rem;
    }

    &__thumbnail-image {
        margin: 0 1rem;
        border-radius: .25rem;
        width: 90%;
        height: auto;
    }

    // &__details {

    // }

    // &__title-container {

    // }

    &__video-title {
        text-transform: uppercase;
        color: $Primary-label-secondary-text;
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: smaller;
    }

    &__title-input-field {
        background-color: $Secondary-form-background;
        font-family: "Avenir";
        border: .0625rem solid $Secondary-divider-form-outline;
        border-radius: .25rem;
        margin: 0 1rem;
        padding: .75rem;
        width: 90%;
        min-height: 2.25rem;
    }

    // &__description-container {

    // }

    &__description {
        text-transform: uppercase;
        color: $Primary-label-secondary-text;
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: smaller;
    }

    &__description-input-field {
        background-color: $Secondary-form-background;
        font-family: "Avenir";
        border: .0625rem solid $Secondary-divider-form-outline;
        border-radius: .25rem;
        min-height: 2.25rem;
        max-width: 100%;
        width: 90%;
        padding: .75rem;
        margin: 0 1rem;
    }

    // &__button-container {

    // }

    &__cancel {
        display: none;
    }

    &__button {
        text-transform: uppercase;
        color: $Primary-background-CTA-text;
        background-color: $Primary-CTA-active;
        border-radius: .25rem;
        border-style: hidden;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 5rem;
        padding: .5rem;
        margin: 1rem;
    }

    &__button-icon {
        display: flex;
    }

    &__cancel-second {
        text-transform: uppercase;
        color: $Primary-CTA-active;
        font-size: smaller;
        font-weight: 600;
        text-align: center;
        margin-top: 3rem;
    }
}

@include medium {
    .video-upload {
     
        &__title {
            border-bottom: .0625rem solid $Secondary-divider-form-outline;
            margin: 1.5rem;
            padding: 1.5rem 0;
        }

        &__thumbnail {
            padding-bottom: 0.3rem;
        }

        &__thumbnail-image {
            width: 40%;
            height: auto;
        }

        &__cancel {
            text-transform: uppercase;
            color: $Primary-CTA-active;
            font-size: smaller;
            font-weight: 600;
            text-align: center;
            margin-top: 3rem;
        }

        &__cancel-second {
            display: none;
        }
}
}